/* It is recommended to place all your extra/additional CSS rules here */

.sponsor-logo{
	width: 70px;
	height:70px;
	margin: 0.7em 0;
}

.sponsor-content{
	padding-left: 15%;
}

.semi-transparent{
    background-color:rgba(0,0,0,0.3);
}

.left .carousel-control {
    opacity: 0.5;
}

@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
}

@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
    
    #footer{
        background: rgba(0,0,0,0);  
    }

    .desktop-only {
        display:none !important;
    }
}

